<!DOCTYPE html>
	<head>
		<title>
			{{ title }}
		</title>

	</head>

	<body>
	
		<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase.js"></script>
		<script>
		  // Initialize Firebase
			var config = {apiKey: "AIzaSyALio7YJ0TxpmrYKHoyyIOcVhl7SiCDazc",
			authDomain: "graduate-project-c0c01.firebaseapp.com",
			databaseURL: "https://graduate-project-c0c01.firebaseio.com",
			projectId: "graduate-project-c0c01",
			storageBucket: "graduate-project-c0c01.appspot.com",
			messagingSenderId: "680502068920"
			};
			firebase.initializeApp(config);

			// User coding here!
			// Get a reference to the database service - instance
			var database = firebase.database().ref('/raspberrypi/temperature/');

			// use 'on' event, pull value of 'temperature' realtime, put in the class 'div'
			database.on('value', function(snapshot) {
				  var temp = snapshot.val();
				  $('.infoData').html(temp+"C");
			});
			// User coding end
		</script>
 
	<body>
</html>

