<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>관리자 페이지</title>
  </head>
  <body>
      <td><label for="name">관리자 계정 : {{user_id}} 님</label></td>
      <form action="http://155.230.25.126:11066/login" method="POST">
        <div class="button" style="position:static;">
          <button type="submit" name="logout">로그아웃</button>
        </div>
      </form>

    <form action="http://155.230.25.126:11066/loginSuccess/" method="POST">
      <div class="button" style="position:absolute; top: 10%; left:200px;">
        <td><label for="name">Weather 1</label></td>
        <button type="submit" name="button_change" value="but1">CHANGE</button>
      </div>
      <div class="button" style="position:absolute; top: 20%; left:200px;">
        <td><label for="name">Weather 2</label></td>
        <button type="submit" name="button_change" value="but2">CHANGE</button>
      </div>
      <div class="button" style="position:absolute; top: 30%; left:200px;">
        <td><label for="name">Weather 3</label></td>
        <button type="submit" name="button_change" value="but3">CHANGE</button>
      </div>
      <div class="button" style="position:absolute; top: 40%; left:200px;">
        <td><label for="name">Weather 4</label></td>
        <button type="submit" name="button_change" value = "but4">CHANGE</button>
      </div>
    </form>
  </body>
</html>
