<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
  </head>a
  <body>
    <table border=1>
    <form action="http://155.230.25.126:11066/loginSuccess" method="POST">
      <table width=600px height=50px border="1" align="center" style="table-layout:fixed;">
        <td align="center"><label for="name">아이디</label></td>
        <td align="center"><input type="textbox" name="user_id" size="10"></td>
        <td align="center"><label for="password">패스워드</label></td>
        <td align="center"><input type="password" name="user_pw"size=10></td>
      </table>

      <div class="button" style="position:absolute; left:47%; top:8%;">
        <button type="submit" name="button">로그인</button>
      </div>
    </form>
    </table>
  </body>
</html>
